<div class="create-product container">
    <button
        mat-mini-fab color="accent"
        matTooltip="Create new product"
        aria-label="New product"
        (click)="createNewProduct()"
        class="card-add"
    >
      <mat-icon>add</mat-icon>
    </button>
</div>
<div class="product-container container">
    <mat-card class="card" *ngFor="let product of products" (click)="selectProduct(product)">
        <mat-card-header>
            <mat-card-title class="card-title">{{product.name}}</mat-card-title>
            <div class="example-button-container">
                <button
                    mat-mini-fab color="accent"
                    matTooltip="Delete product"
                    aria-label="New product"
                    (click)="deleteProduct(product)"
                    class="card-delete"
                >
                  <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card-header>
        <img mat-card-image [src]="product.imageUrl" alt="Photo of {{ product.name }}">
        <mat-card-content>
            <p class="card-desc">{{product.description}}</p>
        </mat-card-content>
        <mat-card-actions class="card-content">
            <p class="card-price">{{product.price | currency: 'BRL'}}</p>            
            <p class="card-stock">qty: {{product.stock}}</p>
        </mat-card-actions>
        </mat-card>
</div>
