<h1>{{pageTitle}}</h1>

<form class="form">
    <mat-form-field class="full-width">
        <mat-label>Product</mat-label>
        <input matInput placeholder="Notebook Gamer" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    
    <mat-form-field class="full-width">
        <mat-label>Price</mat-label>
        <input matInput placeholder="5,000.00" [(ngModel)]="price" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Notebook Gamer com placa dedicada" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Quantity</mat-label>
        <input type="number" matInput placeholder="24" [(ngModel)]="stock" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveProduct()">Register</button>
</form>
