.example-spacer {
    flex: 1 1 auto;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 14px;
    letter-spacing: 1.1px;

    li {
        
        a {
            color: #fff;
            padding: 8px;
            text-decoration: none;
            
            &.active, &:hover {
                border-bottom: 2px solid rgb(179, 252, 179);
            } 
        }
        
    }
}
